@import 'normalize.css';
@import 'tailwindcss';
html,
body,
#app,
#designer-app,
#renderer-app,
#admin-app,
#account-app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
